header {
  background-color: rgba(60, 69, 67, 0.6);
  border-radius: 15px 15px 0 0;
}

h1 {
  font-size: 2em;
  padding: 1em 0;
}

.float-start > img {
  box-shadow: rgba(60, 69, 67, 0.6) 10px 10px;
}
.border {
  border-radius: 0 0 15px 15px;
}

.bottomLeft {
  border-radius: 0 0 0 15px;
  border-bottom-left-radius: 15px;
}

.bottomRight {
  border-radius: 0 0 15px 0;
  border-bottom-right-radius: 15px;
}

footer {
  background-color: rgba(60, 69, 67, 0.6);
  border-radius: 0 0 15px 15px;
  height: 3em;
}

.btn.btn-danger {
  background-color: rgba(204, 3, 35, 0.5);
  color: #eedb00;
  border: 2px solid black;
}

.btn > p {
  font-size: 0.8em;
}
.farGalaxy{
  font-size: 1.6em;
  letter-spacing: .2em;
  line-height: 1.5;
  text-align: justify;
}